@font-face {
  font-family: "Glyphicons";
  src: url("fonts/glyphicons-halflings-regular.eot?") format("eot"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#Glyphicons") format("svg"); }

body {
  background-color: #fff;
  color: #000; }
